{% extends "encyclopedia/layout.html" %}

{% block title %}
    
{% endblock %}

{% block body %}

{{ article|safe }}
<h1>Create article</h1>
<form action="{% url 'create' %}" method="POST">
{% csrf_token %}
<input class="form-control form-control-sm w-50" type="text" name="title" value="{{ content }}" style="margin-top: 10px;">

<div class="input-group w-75" style="height: 500px;margin-top: 10px;" >
    <div class="input-group-prepend">
    </div>
    <textarea class="form-control" name="content">{{ content }}</textarea>
  </div>
<input  type="submit" name="edit" value="create" style="margin-top: 3%;">
</form>
{% endblock %}
